BINANCE_API_KEY=
BINANCE_API_SECRET=
BINANCE_API_BASE=https://api.binance.com
RGB_NODE_API_BASE=http://127.0.0.1:3001
RGB_LIGHTNING_NODE_API_BASE=http://127.0.0.1:3002
RGB_LIGHTNING_NODE_B_API_BASE=http://127.0.0.1:3003
RGB_PROXY_RPC_BASE=http://127.0.0.1:3000/json-rpc
RGB_PUBLIC_PROXY_ENDPOINT=rpcs://dev-proxy.photonbolt.xyz/json-rpc
PHOTON_ADMIN_WALLET_ADDRESS=
